apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-deployment
  labels:
    app: flask
spec:
  replicas: 5
  selector:
    matchLabels:
      app: flask
  strategy:
    rollingUpdate:
      maxSurge: 20%
      maxUnavailable: 25%
  template:
    metadata:
      labels:
        app: flask
    spec:
      containers:
      - name: flask-container
        image: juber81/trio-flask:latest
        ports:
        - containerPort: 5000
        env:
        - name: MYSQLPW
          valueFrom:
            secretKeyRef:
              name: mysql-credentials 
              key: MYSQL_ROOT_PASSWORD       
        - name: DBNAME
          valueFrom:
            secretKeyRef:
              name: mysql-credentials 
              key: MYSQL_DATABASE 
---
apiVersion: v1
kind: Service
metadata:
  name: flask-app
spec:
  type: ClusterIP 
  selector:
    app: flask
  ports:
  - protocol: TCP
    port: 5000
    targetPort: 5000